# APP_BACK_END="http://localhost:5002"
APP_BACK_END="http://localhost:5002"

# NEXT_PUBLIC_APP_BACK_END="http://localhost:5002"
NEXT_PUBLIC_APP_BACK_END="http://localhost:5002"

# true active login, false desactive login
AUTH_ENABLED=false

# development or production
NEXT_PUBLIC_ENV=development

# NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"

# NEXTAUTH_SECRET="secret"
NEXTAUTH_SECRET="secret"